html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


.signInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
}


.registration {
  text-align: center;
  margin-top: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.registration h5 {
  font-size: 1.4em;
  margin-bottom: 8px;
}

.registration p {
  font-size: 0.83em;
  color: #555;
  margin-bottom: 16px;
}


.signInDiv_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
}

.signInDiv_field input {
  width: 80%;
  height: 2.7rem;
  align-self: center;
  background-color: #fff;
  color: #333;
  padding: 10px 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 0.9em;
  transition: all 0.2s ease;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.signInDiv_field input:focus {
  border-color: black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

.signInDiv_field input::placeholder {
  color: gray;
  font-weight: 300;
  font-size: 0.8rem;
}


.signInDiv_field p {
  color: red;
  font-size: 0.75em;
  margin-top: 4px;
  text-align: left;
}


.visibility_toggle {
  position: absolute;
  right: 55px;
  top: 54%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  transition: color 0.2s ease;
}

.visibility_toggle:hover {
  color: black;
}


.registration button {
  width: 80%;
  height: 2.7rem;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(56, 56, 201);
  color: white;
  font-size: 0.8em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.registration button:hover:not(:disabled) {
  background-color: rgb(127, 127, 253);
}

.registration button:disabled {
  background-color: lavender;
  color: black;
  cursor: default;
}


.continueWith {
  width: 100%;
}

.continueWith button {
  display: flex;
  align-items: center;
  height: 2.7rem;
  background-color: white;
  padding: 0;
  color: black;
  font-size: 0.8em;
  border-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: center;
  margin: 10px auto;
}

.continueWith div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.continueWith img {
  height: 16px;
  margin-right: 10px;
}

.continueWith p {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: 600;
  color: black;
}